<?php
/**
 * FbaInboundApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * The Selling Partner API for FBA inbound operations.
 *
 * The Selling Partner API for Fulfillment By Amazon (FBA) Inbound. The FBA Inbound API enables building inbound workflows to create, manage, and send shipments into Amazon's fulfillment network. The API has interoperability with the Send-to-Amazon user interface.
 *
 * OpenAPI spec version: 2024-03-20
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 3.0.61
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Luigel\AmazonSellingPartnerAPI\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use Luigel\AmazonSellingPartnerAPI\Configuration;
use Luigel\AmazonSellingPartnerAPI\HeaderSelector;
use Luigel\AmazonSellingPartnerAPI\Helpers\SellingPartnerApiRequest;
use Luigel\AmazonSellingPartnerAPI\ObjectSerializer;

class FbaInboundApi
{
    use SellingPartnerApiRequest;

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param Configuration   $config
     */
    public function __construct(
        Configuration $config
    ) {
        $this->client = new Client();
        $this->config = $config;
        $this->headerSelector = new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation cancelInboundPlan
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelInboundPlanResponse
     */
    public function cancelInboundPlan($inbound_plan_id)
    {
        list($response) = $this->cancelInboundPlanWithHttpInfo($inbound_plan_id);
        return $response;
    }

    /**
     * Operation cancelInboundPlanWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelInboundPlanResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelInboundPlanWithHttpInfo($inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelInboundPlanResponse';
        $request = $this->cancelInboundPlanRequest($inbound_plan_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation cancelInboundPlanAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function cancelInboundPlanAsync($inbound_plan_id)
    {
        return $this->cancelInboundPlanAsyncWithHttpInfo($inbound_plan_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation cancelInboundPlanAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function cancelInboundPlanAsyncWithHttpInfo($inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelInboundPlanResponse';
        $request = $this->cancelInboundPlanRequest($inbound_plan_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'cancelInboundPlan'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function cancelInboundPlanRequest($inbound_plan_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling cancelInboundPlan'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/cancellation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'PUT', $httpBody);
    }

    /**
     * Operation cancelSelfShipAppointment
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentRequest $body The body of the request to &#x60;cancelSelfShipAppointment&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentResponse
     */
    public function cancelSelfShipAppointment($body, $inbound_plan_id, $shipment_id)
    {
        list($response) = $this->cancelSelfShipAppointmentWithHttpInfo($body, $inbound_plan_id, $shipment_id);
        return $response;
    }

    /**
     * Operation cancelSelfShipAppointmentWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentRequest $body The body of the request to &#x60;cancelSelfShipAppointment&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelSelfShipAppointmentWithHttpInfo($body, $inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentResponse';
        $request = $this->cancelSelfShipAppointmentRequest($body, $inbound_plan_id, $shipment_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation cancelSelfShipAppointmentAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentRequest $body The body of the request to &#x60;cancelSelfShipAppointment&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function cancelSelfShipAppointmentAsync($body, $inbound_plan_id, $shipment_id)
    {
        return $this->cancelSelfShipAppointmentAsyncWithHttpInfo($body, $inbound_plan_id, $shipment_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation cancelSelfShipAppointmentAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentRequest $body The body of the request to &#x60;cancelSelfShipAppointment&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function cancelSelfShipAppointmentAsyncWithHttpInfo($body, $inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentResponse';
        $request = $this->cancelSelfShipAppointmentRequest($body, $inbound_plan_id, $shipment_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'cancelSelfShipAppointment'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CancelSelfShipAppointmentRequest $body The body of the request to &#x60;cancelSelfShipAppointment&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function cancelSelfShipAppointmentRequest($body, $inbound_plan_id, $shipment_id)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling cancelSelfShipAppointment'
            );
        }
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling cancelSelfShipAppointment'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling cancelSelfShipAppointment'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/selfShipAppointmentCancellation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'PUT', $httpBody);
    }

    /**
     * Operation confirmDeliveryWindowOptions
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to confirm the delivery window option for. (required)
     * @param  string $delivery_window_option_id The id of the delivery window option to be confirmed. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmDeliveryWindowOptionsResponse
     */
    public function confirmDeliveryWindowOptions($inbound_plan_id, $shipment_id, $delivery_window_option_id)
    {
        list($response) = $this->confirmDeliveryWindowOptionsWithHttpInfo($inbound_plan_id, $shipment_id, $delivery_window_option_id);
        return $response;
    }

    /**
     * Operation confirmDeliveryWindowOptionsWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to confirm the delivery window option for. (required)
     * @param  string $delivery_window_option_id The id of the delivery window option to be confirmed. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmDeliveryWindowOptionsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmDeliveryWindowOptionsWithHttpInfo($inbound_plan_id, $shipment_id, $delivery_window_option_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmDeliveryWindowOptionsResponse';
        $request = $this->confirmDeliveryWindowOptionsRequest($inbound_plan_id, $shipment_id, $delivery_window_option_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation confirmDeliveryWindowOptionsAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to confirm the delivery window option for. (required)
     * @param  string $delivery_window_option_id The id of the delivery window option to be confirmed. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmDeliveryWindowOptionsAsync($inbound_plan_id, $shipment_id, $delivery_window_option_id)
    {
        return $this->confirmDeliveryWindowOptionsAsyncWithHttpInfo($inbound_plan_id, $shipment_id, $delivery_window_option_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation confirmDeliveryWindowOptionsAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to confirm the delivery window option for. (required)
     * @param  string $delivery_window_option_id The id of the delivery window option to be confirmed. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmDeliveryWindowOptionsAsyncWithHttpInfo($inbound_plan_id, $shipment_id, $delivery_window_option_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmDeliveryWindowOptionsResponse';
        $request = $this->confirmDeliveryWindowOptionsRequest($inbound_plan_id, $shipment_id, $delivery_window_option_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'confirmDeliveryWindowOptions'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to confirm the delivery window option for. (required)
     * @param  string $delivery_window_option_id The id of the delivery window option to be confirmed. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function confirmDeliveryWindowOptionsRequest($inbound_plan_id, $shipment_id, $delivery_window_option_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling confirmDeliveryWindowOptions'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling confirmDeliveryWindowOptions'
            );
        }
        // verify the required parameter 'delivery_window_option_id' is set
        if ($delivery_window_option_id === null || (is_array($delivery_window_option_id) && count($delivery_window_option_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $delivery_window_option_id when calling confirmDeliveryWindowOptions'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryWindowOptions/{deliveryWindowOptionId}/confirmation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }
        // path params
        if ($delivery_window_option_id !== null) {
            $resourcePath = str_replace(
                '{' . 'deliveryWindowOptionId' . '}',
                ObjectSerializer::toPathValue($delivery_window_option_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation confirmPackingOption
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $packing_option_id Identifier of a packing option. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPackingOptionResponse
     */
    public function confirmPackingOption($inbound_plan_id, $packing_option_id)
    {
        list($response) = $this->confirmPackingOptionWithHttpInfo($inbound_plan_id, $packing_option_id);
        return $response;
    }

    /**
     * Operation confirmPackingOptionWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $packing_option_id Identifier of a packing option. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPackingOptionResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmPackingOptionWithHttpInfo($inbound_plan_id, $packing_option_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPackingOptionResponse';
        $request = $this->confirmPackingOptionRequest($inbound_plan_id, $packing_option_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation confirmPackingOptionAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $packing_option_id Identifier of a packing option. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmPackingOptionAsync($inbound_plan_id, $packing_option_id)
    {
        return $this->confirmPackingOptionAsyncWithHttpInfo($inbound_plan_id, $packing_option_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation confirmPackingOptionAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $packing_option_id Identifier of a packing option. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmPackingOptionAsyncWithHttpInfo($inbound_plan_id, $packing_option_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPackingOptionResponse';
        $request = $this->confirmPackingOptionRequest($inbound_plan_id, $packing_option_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'confirmPackingOption'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $packing_option_id Identifier of a packing option. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function confirmPackingOptionRequest($inbound_plan_id, $packing_option_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling confirmPackingOption'
            );
        }
        // verify the required parameter 'packing_option_id' is set
        if ($packing_option_id === null || (is_array($packing_option_id) && count($packing_option_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $packing_option_id when calling confirmPackingOption'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions/{packingOptionId}/confirmation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($packing_option_id !== null) {
            $resourcePath = str_replace(
                '{' . 'packingOptionId' . '}',
                ObjectSerializer::toPathValue($packing_option_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation confirmPlacementOption
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPlacementOptionResponse
     */
    public function confirmPlacementOption($inbound_plan_id, $placement_option_id)
    {
        list($response) = $this->confirmPlacementOptionWithHttpInfo($inbound_plan_id, $placement_option_id);
        return $response;
    }

    /**
     * Operation confirmPlacementOptionWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPlacementOptionResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmPlacementOptionWithHttpInfo($inbound_plan_id, $placement_option_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPlacementOptionResponse';
        $request = $this->confirmPlacementOptionRequest($inbound_plan_id, $placement_option_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation confirmPlacementOptionAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmPlacementOptionAsync($inbound_plan_id, $placement_option_id)
    {
        return $this->confirmPlacementOptionAsyncWithHttpInfo($inbound_plan_id, $placement_option_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation confirmPlacementOptionAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmPlacementOptionAsyncWithHttpInfo($inbound_plan_id, $placement_option_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmPlacementOptionResponse';
        $request = $this->confirmPlacementOptionRequest($inbound_plan_id, $placement_option_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'confirmPlacementOption'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function confirmPlacementOptionRequest($inbound_plan_id, $placement_option_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling confirmPlacementOption'
            );
        }
        // verify the required parameter 'placement_option_id' is set
        if ($placement_option_id === null || (is_array($placement_option_id) && count($placement_option_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $placement_option_id when calling confirmPlacementOption'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/placementOptions/{placementOptionId}/confirmation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($placement_option_id !== null) {
            $resourcePath = str_replace(
                '{' . 'placementOptionId' . '}',
                ObjectSerializer::toPathValue($placement_option_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation confirmShipmentContentUpdatePreview
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  string $content_update_preview_id Identifier of a content update preview. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmShipmentContentUpdatePreviewResponse
     */
    public function confirmShipmentContentUpdatePreview($inbound_plan_id, $shipment_id, $content_update_preview_id)
    {
        list($response) = $this->confirmShipmentContentUpdatePreviewWithHttpInfo($inbound_plan_id, $shipment_id, $content_update_preview_id);
        return $response;
    }

    /**
     * Operation confirmShipmentContentUpdatePreviewWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  string $content_update_preview_id Identifier of a content update preview. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmShipmentContentUpdatePreviewResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmShipmentContentUpdatePreviewWithHttpInfo($inbound_plan_id, $shipment_id, $content_update_preview_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmShipmentContentUpdatePreviewResponse';
        $request = $this->confirmShipmentContentUpdatePreviewRequest($inbound_plan_id, $shipment_id, $content_update_preview_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation confirmShipmentContentUpdatePreviewAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  string $content_update_preview_id Identifier of a content update preview. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmShipmentContentUpdatePreviewAsync($inbound_plan_id, $shipment_id, $content_update_preview_id)
    {
        return $this->confirmShipmentContentUpdatePreviewAsyncWithHttpInfo($inbound_plan_id, $shipment_id, $content_update_preview_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation confirmShipmentContentUpdatePreviewAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  string $content_update_preview_id Identifier of a content update preview. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmShipmentContentUpdatePreviewAsyncWithHttpInfo($inbound_plan_id, $shipment_id, $content_update_preview_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmShipmentContentUpdatePreviewResponse';
        $request = $this->confirmShipmentContentUpdatePreviewRequest($inbound_plan_id, $shipment_id, $content_update_preview_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'confirmShipmentContentUpdatePreview'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  string $content_update_preview_id Identifier of a content update preview. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function confirmShipmentContentUpdatePreviewRequest($inbound_plan_id, $shipment_id, $content_update_preview_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling confirmShipmentContentUpdatePreview'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling confirmShipmentContentUpdatePreview'
            );
        }
        // verify the required parameter 'content_update_preview_id' is set
        if ($content_update_preview_id === null || (is_array($content_update_preview_id) && count($content_update_preview_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $content_update_preview_id when calling confirmShipmentContentUpdatePreview'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/contentUpdatePreviews/{contentUpdatePreviewId}/confirmation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }
        // path params
        if ($content_update_preview_id !== null) {
            $resourcePath = str_replace(
                '{' . 'contentUpdatePreviewId' . '}',
                ObjectSerializer::toPathValue($content_update_preview_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation confirmTransportationOptions
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsRequest $body The body of the request to &#x60;confirmTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsResponse
     */
    public function confirmTransportationOptions($body, $inbound_plan_id)
    {
        list($response) = $this->confirmTransportationOptionsWithHttpInfo($body, $inbound_plan_id);
        return $response;
    }

    /**
     * Operation confirmTransportationOptionsWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsRequest $body The body of the request to &#x60;confirmTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmTransportationOptionsWithHttpInfo($body, $inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsResponse';
        $request = $this->confirmTransportationOptionsRequest($body, $inbound_plan_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation confirmTransportationOptionsAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsRequest $body The body of the request to &#x60;confirmTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmTransportationOptionsAsync($body, $inbound_plan_id)
    {
        return $this->confirmTransportationOptionsAsyncWithHttpInfo($body, $inbound_plan_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation confirmTransportationOptionsAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsRequest $body The body of the request to &#x60;confirmTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function confirmTransportationOptionsAsyncWithHttpInfo($body, $inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsResponse';
        $request = $this->confirmTransportationOptionsRequest($body, $inbound_plan_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'confirmTransportationOptions'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\ConfirmTransportationOptionsRequest $body The body of the request to &#x60;confirmTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function confirmTransportationOptionsRequest($body, $inbound_plan_id)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling confirmTransportationOptions'
            );
        }
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling confirmTransportationOptions'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/transportationOptions/confirmation';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation createInboundPlan
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanRequest $body The body of the request to &#x60;createInboundPlan&#x60;. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanResponse
     */
    public function createInboundPlan($body)
    {
        list($response) = $this->createInboundPlanWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createInboundPlanWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanRequest $body The body of the request to &#x60;createInboundPlan&#x60;. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createInboundPlanWithHttpInfo($body)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanResponse';
        $request = $this->createInboundPlanRequest($body);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation createInboundPlanAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanRequest $body The body of the request to &#x60;createInboundPlan&#x60;. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createInboundPlanAsync($body)
    {
        return $this->createInboundPlanAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation createInboundPlanAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanRequest $body The body of the request to &#x60;createInboundPlan&#x60;. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createInboundPlanAsyncWithHttpInfo($body)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanResponse';
        $request = $this->createInboundPlanRequest($body);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'createInboundPlan'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateInboundPlanRequest $body The body of the request to &#x60;createInboundPlan&#x60;. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function createInboundPlanRequest($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling createInboundPlan'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation createMarketplaceItemLabels
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsRequest $body The body of the request to &#x60;createMarketplaceItemLabels&#x60;. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsResponse
     */
    public function createMarketplaceItemLabels($body)
    {
        list($response) = $this->createMarketplaceItemLabelsWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createMarketplaceItemLabelsWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsRequest $body The body of the request to &#x60;createMarketplaceItemLabels&#x60;. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createMarketplaceItemLabelsWithHttpInfo($body)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsResponse';
        $request = $this->createMarketplaceItemLabelsRequest($body);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation createMarketplaceItemLabelsAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsRequest $body The body of the request to &#x60;createMarketplaceItemLabels&#x60;. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createMarketplaceItemLabelsAsync($body)
    {
        return $this->createMarketplaceItemLabelsAsyncWithHttpInfo($body)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation createMarketplaceItemLabelsAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsRequest $body The body of the request to &#x60;createMarketplaceItemLabels&#x60;. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function createMarketplaceItemLabelsAsyncWithHttpInfo($body)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsResponse';
        $request = $this->createMarketplaceItemLabelsRequest($body);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'createMarketplaceItemLabels'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\CreateMarketplaceItemLabelsRequest $body The body of the request to &#x60;createMarketplaceItemLabels&#x60;. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function createMarketplaceItemLabelsRequest($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling createMarketplaceItemLabels'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/items/labels';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation generateDeliveryWindowOptions
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to generate delivery window options for. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateDeliveryWindowOptionsResponse
     */
    public function generateDeliveryWindowOptions($inbound_plan_id, $shipment_id)
    {
        list($response) = $this->generateDeliveryWindowOptionsWithHttpInfo($inbound_plan_id, $shipment_id);
        return $response;
    }

    /**
     * Operation generateDeliveryWindowOptionsWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to generate delivery window options for. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateDeliveryWindowOptionsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateDeliveryWindowOptionsWithHttpInfo($inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateDeliveryWindowOptionsResponse';
        $request = $this->generateDeliveryWindowOptionsRequest($inbound_plan_id, $shipment_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation generateDeliveryWindowOptionsAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to generate delivery window options for. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateDeliveryWindowOptionsAsync($inbound_plan_id, $shipment_id)
    {
        return $this->generateDeliveryWindowOptionsAsyncWithHttpInfo($inbound_plan_id, $shipment_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateDeliveryWindowOptionsAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to generate delivery window options for. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateDeliveryWindowOptionsAsyncWithHttpInfo($inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateDeliveryWindowOptionsResponse';
        $request = $this->generateDeliveryWindowOptionsRequest($inbound_plan_id, $shipment_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'generateDeliveryWindowOptions'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id The shipment to generate delivery window options for. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function generateDeliveryWindowOptionsRequest($inbound_plan_id, $shipment_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling generateDeliveryWindowOptions'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling generateDeliveryWindowOptions'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryWindowOptions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation generatePackingOptions
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePackingOptionsResponse
     */
    public function generatePackingOptions($inbound_plan_id)
    {
        list($response) = $this->generatePackingOptionsWithHttpInfo($inbound_plan_id);
        return $response;
    }

    /**
     * Operation generatePackingOptionsWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePackingOptionsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function generatePackingOptionsWithHttpInfo($inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePackingOptionsResponse';
        $request = $this->generatePackingOptionsRequest($inbound_plan_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation generatePackingOptionsAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generatePackingOptionsAsync($inbound_plan_id)
    {
        return $this->generatePackingOptionsAsyncWithHttpInfo($inbound_plan_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generatePackingOptionsAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generatePackingOptionsAsyncWithHttpInfo($inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePackingOptionsResponse';
        $request = $this->generatePackingOptionsRequest($inbound_plan_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'generatePackingOptions'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function generatePackingOptionsRequest($inbound_plan_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling generatePackingOptions'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation generatePlacementOptions
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsRequest $body The body of the request to &#x60;generatePlacementOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsResponse
     */
    public function generatePlacementOptions($body, $inbound_plan_id)
    {
        list($response) = $this->generatePlacementOptionsWithHttpInfo($body, $inbound_plan_id);
        return $response;
    }

    /**
     * Operation generatePlacementOptionsWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsRequest $body The body of the request to &#x60;generatePlacementOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function generatePlacementOptionsWithHttpInfo($body, $inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsResponse';
        $request = $this->generatePlacementOptionsRequest($body, $inbound_plan_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation generatePlacementOptionsAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsRequest $body The body of the request to &#x60;generatePlacementOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generatePlacementOptionsAsync($body, $inbound_plan_id)
    {
        return $this->generatePlacementOptionsAsyncWithHttpInfo($body, $inbound_plan_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generatePlacementOptionsAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsRequest $body The body of the request to &#x60;generatePlacementOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generatePlacementOptionsAsyncWithHttpInfo($body, $inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsResponse';
        $request = $this->generatePlacementOptionsRequest($body, $inbound_plan_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'generatePlacementOptions'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GeneratePlacementOptionsRequest $body The body of the request to &#x60;generatePlacementOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function generatePlacementOptionsRequest($body, $inbound_plan_id)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling generatePlacementOptions'
            );
        }
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling generatePlacementOptions'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/placementOptions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation generateSelfShipAppointmentSlots
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsRequest $body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsResponse
     */
    public function generateSelfShipAppointmentSlots($body, $inbound_plan_id, $shipment_id)
    {
        list($response) = $this->generateSelfShipAppointmentSlotsWithHttpInfo($body, $inbound_plan_id, $shipment_id);
        return $response;
    }

    /**
     * Operation generateSelfShipAppointmentSlotsWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsRequest $body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateSelfShipAppointmentSlotsWithHttpInfo($body, $inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsResponse';
        $request = $this->generateSelfShipAppointmentSlotsRequest($body, $inbound_plan_id, $shipment_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation generateSelfShipAppointmentSlotsAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsRequest $body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateSelfShipAppointmentSlotsAsync($body, $inbound_plan_id, $shipment_id)
    {
        return $this->generateSelfShipAppointmentSlotsAsyncWithHttpInfo($body, $inbound_plan_id, $shipment_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateSelfShipAppointmentSlotsAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsRequest $body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateSelfShipAppointmentSlotsAsyncWithHttpInfo($body, $inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsResponse';
        $request = $this->generateSelfShipAppointmentSlotsRequest($body, $inbound_plan_id, $shipment_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'generateSelfShipAppointmentSlots'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateSelfShipAppointmentSlotsRequest $body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function generateSelfShipAppointmentSlotsRequest($body, $inbound_plan_id, $shipment_id)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling generateSelfShipAppointmentSlots'
            );
        }
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling generateSelfShipAppointmentSlots'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling generateSelfShipAppointmentSlots'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/selfShipAppointmentSlots';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation generateShipmentContentUpdatePreviews
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsRequest $body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsResponse
     */
    public function generateShipmentContentUpdatePreviews($body, $inbound_plan_id, $shipment_id)
    {
        list($response) = $this->generateShipmentContentUpdatePreviewsWithHttpInfo($body, $inbound_plan_id, $shipment_id);
        return $response;
    }

    /**
     * Operation generateShipmentContentUpdatePreviewsWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsRequest $body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateShipmentContentUpdatePreviewsWithHttpInfo($body, $inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsResponse';
        $request = $this->generateShipmentContentUpdatePreviewsRequest($body, $inbound_plan_id, $shipment_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation generateShipmentContentUpdatePreviewsAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsRequest $body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateShipmentContentUpdatePreviewsAsync($body, $inbound_plan_id, $shipment_id)
    {
        return $this->generateShipmentContentUpdatePreviewsAsyncWithHttpInfo($body, $inbound_plan_id, $shipment_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateShipmentContentUpdatePreviewsAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsRequest $body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateShipmentContentUpdatePreviewsAsyncWithHttpInfo($body, $inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsResponse';
        $request = $this->generateShipmentContentUpdatePreviewsRequest($body, $inbound_plan_id, $shipment_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'generateShipmentContentUpdatePreviews'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateShipmentContentUpdatePreviewsRequest $body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function generateShipmentContentUpdatePreviewsRequest($body, $inbound_plan_id, $shipment_id)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling generateShipmentContentUpdatePreviews'
            );
        }
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling generateShipmentContentUpdatePreviews'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling generateShipmentContentUpdatePreviews'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/contentUpdatePreviews';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation generateTransportationOptions
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsRequest $body The body of the request to &#x60;generateTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsResponse
     */
    public function generateTransportationOptions($body, $inbound_plan_id)
    {
        list($response) = $this->generateTransportationOptionsWithHttpInfo($body, $inbound_plan_id);
        return $response;
    }

    /**
     * Operation generateTransportationOptionsWithHttpInfo
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsRequest $body The body of the request to &#x60;generateTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateTransportationOptionsWithHttpInfo($body, $inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsResponse';
        $request = $this->generateTransportationOptionsRequest($body, $inbound_plan_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation generateTransportationOptionsAsync
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsRequest $body The body of the request to &#x60;generateTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateTransportationOptionsAsync($body, $inbound_plan_id)
    {
        return $this->generateTransportationOptionsAsyncWithHttpInfo($body, $inbound_plan_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation generateTransportationOptionsAsyncWithHttpInfo
     *
     * 
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsRequest $body The body of the request to &#x60;generateTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function generateTransportationOptionsAsyncWithHttpInfo($body, $inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsResponse';
        $request = $this->generateTransportationOptionsRequest($body, $inbound_plan_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'generateTransportationOptions'
     *
     * @param  \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GenerateTransportationOptionsRequest $body The body of the request to &#x60;generateTransportationOptions&#x60;. (required)
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function generateTransportationOptionsRequest($body, $inbound_plan_id)
    {
        // verify the required parameter 'body' is set
        if ($body === null || (is_array($body) && count($body) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $body when calling generateTransportationOptions'
            );
        }
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling generateTransportationOptions'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/transportationOptions';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'POST', $httpBody);
    }

    /**
     * Operation getDeliveryChallanDocument
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetDeliveryChallanDocumentResponse
     */
    public function getDeliveryChallanDocument($inbound_plan_id, $shipment_id)
    {
        list($response) = $this->getDeliveryChallanDocumentWithHttpInfo($inbound_plan_id, $shipment_id);
        return $response;
    }

    /**
     * Operation getDeliveryChallanDocumentWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetDeliveryChallanDocumentResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getDeliveryChallanDocumentWithHttpInfo($inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetDeliveryChallanDocumentResponse';
        $request = $this->getDeliveryChallanDocumentRequest($inbound_plan_id, $shipment_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation getDeliveryChallanDocumentAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getDeliveryChallanDocumentAsync($inbound_plan_id, $shipment_id)
    {
        return $this->getDeliveryChallanDocumentAsyncWithHttpInfo($inbound_plan_id, $shipment_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getDeliveryChallanDocumentAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getDeliveryChallanDocumentAsyncWithHttpInfo($inbound_plan_id, $shipment_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetDeliveryChallanDocumentResponse';
        $request = $this->getDeliveryChallanDocumentRequest($inbound_plan_id, $shipment_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'getDeliveryChallanDocument'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getDeliveryChallanDocumentRequest($inbound_plan_id, $shipment_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling getDeliveryChallanDocument'
            );
        }
        // verify the required parameter 'shipment_id' is set
        if ($shipment_id === null || (is_array($shipment_id) && count($shipment_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $shipment_id when calling getDeliveryChallanDocument'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryChallanDocument';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }
        // path params
        if ($shipment_id !== null) {
            $resourcePath = str_replace(
                '{' . 'shipmentId' . '}',
                ObjectSerializer::toPathValue($shipment_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'GET', $httpBody);
    }

    /**
     * Operation getInboundOperationStatus
     *
     * @param  string $operation_id Identifier of an asynchronous operation. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundOperationStatus
     */
    public function getInboundOperationStatus($operation_id)
    {
        list($response) = $this->getInboundOperationStatusWithHttpInfo($operation_id);
        return $response;
    }

    /**
     * Operation getInboundOperationStatusWithHttpInfo
     *
     * @param  string $operation_id Identifier of an asynchronous operation. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundOperationStatus, HTTP status code, HTTP response headers (array of strings)
     */
    public function getInboundOperationStatusWithHttpInfo($operation_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundOperationStatus';
        $request = $this->getInboundOperationStatusRequest($operation_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation getInboundOperationStatusAsync
     *
     * 
     *
     * @param  string $operation_id Identifier of an asynchronous operation. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getInboundOperationStatusAsync($operation_id)
    {
        return $this->getInboundOperationStatusAsyncWithHttpInfo($operation_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getInboundOperationStatusAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $operation_id Identifier of an asynchronous operation. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getInboundOperationStatusAsyncWithHttpInfo($operation_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundOperationStatus';
        $request = $this->getInboundOperationStatusRequest($operation_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'getInboundOperationStatus'
     *
     * @param  string $operation_id Identifier of an asynchronous operation. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getInboundOperationStatusRequest($operation_id)
    {
        // verify the required parameter 'operation_id' is set
        if ($operation_id === null || (is_array($operation_id) && count($operation_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $operation_id when calling getInboundOperationStatus'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/operations/{operationId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($operation_id !== null) {
            $resourcePath = str_replace(
                '{' . 'operationId' . '}',
                ObjectSerializer::toPathValue($operation_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'GET', $httpBody);
    }

    /**
     * Operation getInboundPlan
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundPlan
     */
    public function getInboundPlan($inbound_plan_id)
    {
        list($response) = $this->getInboundPlanWithHttpInfo($inbound_plan_id);
        return $response;
    }

    /**
     * Operation getInboundPlanWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundPlan, HTTP status code, HTTP response headers (array of strings)
     */
    public function getInboundPlanWithHttpInfo($inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundPlan';
        $request = $this->getInboundPlanRequest($inbound_plan_id);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation getInboundPlanAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getInboundPlanAsync($inbound_plan_id)
    {
        return $this->getInboundPlanAsyncWithHttpInfo($inbound_plan_id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getInboundPlanAsyncWithHttpInfo
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getInboundPlanAsyncWithHttpInfo($inbound_plan_id)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\InboundPlan';
        $request = $this->getInboundPlanRequest($inbound_plan_id);

        return $this->sendRequestAsync($request, $returnType);
    }

    /**
     * Create request for operation 'getInboundPlan'
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getInboundPlanRequest($inbound_plan_id)
    {
        // verify the required parameter 'inbound_plan_id' is set
        if ($inbound_plan_id === null || (is_array($inbound_plan_id) && count($inbound_plan_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $inbound_plan_id when calling getInboundPlan'
            );
        }

        $resourcePath = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($inbound_plan_id !== null) {
            $resourcePath = str_replace(
                '{' . 'inboundPlanId' . '}',
                ObjectSerializer::toPathValue($inbound_plan_id),
                $resourcePath
            );
        }

        return $this->generateRequest($multipart, $formParams, $queryParams, $resourcePath, $headerParams, 'GET', $httpBody);
    }

    /**
     * Operation getSelfShipAppointmentSlots
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  int $page_size The number of self ship appointment slots to return in the response matching the given query. (optional, default to 10)
     * @param  string $pagination_token A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the &#x60;pagination&#x60; returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result. (optional)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetSelfShipAppointmentSlotsResponse
     */
    public function getSelfShipAppointmentSlots($inbound_plan_id, $shipment_id, $page_size = '10', $pagination_token = null)
    {
        list($response) = $this->getSelfShipAppointmentSlotsWithHttpInfo($inbound_plan_id, $shipment_id, $page_size, $pagination_token);
        return $response;
    }

    /**
     * Operation getSelfShipAppointmentSlotsWithHttpInfo
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  int $page_size The number of self ship appointment slots to return in the response matching the given query. (optional, default to 10)
     * @param  string $pagination_token A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the &#x60;pagination&#x60; returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result. (optional)
     *
     * @throws \Luigel\AmazonSellingPartnerAPI\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetSelfShipAppointmentSlotsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getSelfShipAppointmentSlotsWithHttpInfo($inbound_plan_id, $shipment_id, $page_size = '10', $pagination_token = null)
    {
        $returnType = '\Luigel\AmazonSellingPartnerAPI\Models\FulfillmentInbound\GetSelfShipAppointmentSlotsResponse';
        $request = $this->getSelfShipAppointmentSlotsRequest($inbound_plan_id, $shipment_id, $page_size, $pagination_token);

        return $this->sendRequest($request, $returnType);
    }

    /**
     * Operation getSelfShipAppointmentSlotsAsync
     *
     * 
     *
     * @param  string $inbound_plan_id Identifier of an inbound plan. (required)
     * @param  string $shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
     * @param  int $page_size The number of self ship appointment slots to return in the response matching the given query. (optional, default to 10)
     * @param  string $pagination_token A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the &#x60;pagination&#x60; returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result. (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getSelfShipAppointmentSlotsAsync($inbound_plan_id, $shipment_id, $page_size = '10', $pagination_token = null)
    {
        return $this->getSelfShipAppointmentSlotsAsyncWithHttpInfo($inbound_plan_id, $shipment_id, $page_size, $pagination_token)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getSelfShipAppointmentSlotsAsyncWithHttpInfo
[...]
